body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body, div {
    box-sizing: border-box;
}
 
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  
    grid-auto-flow: dense; 
    margin: auto;
    gap: 10px;
    padding: 10px;
    min-height: 100vh;
} 

.grid-item {
    background-color: #48e;
    font-size: 30px;
    border-radius: 16px;
    background-image: url("../../../imagenes-y-videos/luffy-normal.jpg");
    background-size: cover;
    background-position: center;
}


.grid-item:nth-child(7) {
    grid-area: span 2 / span 3;
    /* 
    grid-area: row / column
    grid-area: row-start/column-start/row-end/column-end
    */
}

.grid-item:hover {
    opacity: 0.74;
}

